GOOGLE_CLIENT_ID=creat at https://console.cloud.google.com/welcome?project
GOOGLE_CLIENT_SECRET=creat at https://console.cloud.google.com/welcome?project
JWT_SECRET_KEY=python3 -c "import secrets; print(secrets.token_urlsafe(48))"
SESSION_SECRET_KEY=python3 -c "import secrets; print(secrets.token_urlsafe(48))"
FRONTEND_URL=https://report.congty.com
BACKEND_URL=https://report.congty.com/api
DATABASE_URL=postgresql://POSTGRES_USER:POSTGRES_PASSWORD@postgres:5432/POSTGRES_DB
ALGORITHM = HS256 
ACCESS_TOKEN_EXPIRE_HOURS = time token expire